<script setup>
const props = defineProps(['personnage']);
</script>

<template>
<div class="card">
    <h3>Nom: {{ props.personnage.name }}</h3> 
    <p>Taille: {{props.personnage.height}}</p>
    <p>Poids: {{props.personnage.weight}}</p>
    </div>
</template>

<style scoped>
.card {
    font-family: sans-serif;
    box-shadow: 2px 2px  5px -2px lightgrey;
    border-radius: 5px;
    float: left;
    width: 300px;
    height: 500px;
    margin: 20px;
}
</style>