<script setup>
import axios from 'axios'
import { onMounted, ref, watch } from 'vue';
import Personnage from './components/Personnage.vue';




const people = ref([])
const query = ref('')
// auchargement de la page
// onMounted(async ()=>{
//   const response = await axios.get('https://swapi.dev/api/people',{
//     params: {
//       search: query.value
//     }
//   })
//   people.value = response.data.results
// })

// détecte les changements de la variable query
watch([query], async function(){

  const response = await axios.get('https://swapi.dev/api/people',{
    params: {
      search: query.value
    }
  })
  people.value = response.data.results
  // permet de déclancher le code au chargement de la page en plus (comme onMounted)
}, {immediate:true})

const me = ref({
  name: 'William Lefebvre',
  height: 168,
  weight: 60
})
</script>

<template>
  <!-- <Personnage :personnage="me"/> -->
  <input type="search" v-model="query">


  <Personnage
    v-for="person in people"
    :personnage="person"
  />
  <button @click="query='Skywalker'">Skywalker</button>
  <button @click="query='Palpatine'">Palpatine</button>
  <button @click="query='jar'">jar</button>
  <button @click="query='obi'">obi</button>
</template>

<style scoped>

</style>
